# Знакомство

In [1]:
analyst='Anatoly'

In [40]:
years=2

# Задание 1
Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [3]:
age=45

In [4]:
name='Igor'

# Переменные-строки, числа, списки

In [5]:
has_job=False

In [6]:
analyst_2='Olga'

In [7]:
years_2=3

In [8]:
has_job_2=True

In [9]:
analysts = ['Anatoly','Olga','Beslan']

In [10]:
years=[2,3,4]

In [11]:
analysts

['Anatoly', 'Olga', 'Beslan']

In [12]:
analysts[0]

'Anatoly'

# Задание 2
Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

In [13]:
user_info=['Igor','Evon',25.4,5]

In [14]:
user_info

['Igor', 'Evon', 25.4, 5]

In [15]:
salaries=[1,2,3,4,5]

In [16]:
salaries

[1, 2, 3, 4, 5]

In [17]:
salaries[-1]

5

In [18]:
salaries[4]

5

# Подробнее о списках

In [19]:
len(analysts)

3

In [20]:
analysts.append('Michael')

In [21]:
analysts

['Anatoly', 'Olga', 'Beslan', 'Michael']

In [22]:
analysts.pop(3)

'Michael'

In [23]:
analysts

['Anatoly', 'Olga', 'Beslan']

# Задание 3,4
Поместите в переменную first первый (то есть нулевой) элемент из списка salaries

Добавьте в список users элементы 'Voronov' и 42

In [24]:
first=salaries[0]

In [25]:
first

1

In [26]:
users=[]

In [27]:
users.append('Voronov')

In [28]:
users.append(42)

In [29]:
users

['Voronov', 42]

 # Конструкция if else

In [35]:
has_job=False

In [31]:
years

[2, 3, 4]

In [37]:
if has_job:
    print('Anatoly is happy')
else:
    print('Anatoly is sad')

Anatoly is sad

In [55]:
if years<1:
    print('Salary = ',salary)
elif years in range(1,4):
    print ('Salary = ',salary * 1.3)
elif years > 5:
    print('Salary = ',salary * 1.8)

Salary =  180000.0

In [52]:
years=6

In [54]:
salary=100000

# Задание 5
В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18
Пример данных, которые могут быть в user_ages
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [56]:
user_ages=[10, 18, 21, 35, 42, 27, 12, 16]

In [60]:
for i in user_ages:
    if i >18:
        print(i)

21
35
42
27

# Метод строк FORMAT

In [72]:
messeage='Additional equal {coef}. New salary is {new_salary} '

In [73]:
if years<1:
    coef=0
elif years in range(1,4):
    coef=0.2
elif years > 5:
    coef=0.4
new_salary=salary+salary*coef
print(messeage.format(coef=coef,new_salary=new_salary) )
print(new_salary)

Additional equal 0.4. New salary is 140000.0
140000.0

# Задание 6
 Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж). Поместите в переменную status такую строку

In [74]:
worker = ['Olya', 'Silyutina', 350000, 3]

In [75]:
user_name=worker[0]

In [77]:
user_family=worker[1]

In [78]:
stag=worker[3]

In [81]:
if stag<2:
    position='Juniur'
elif stag in range(2,6):
    position='middle'
elif stag>5:
    position='senior'

In [82]:
status='{user_name} {user_family} is {position}'.format(user_name=user_name, user_family=user_family, position=position)

In [83]:
print(status)

Olya Silyutina is middle

# Конструкция for

In [84]:
analysts

['Anatoly', 'Olga', 'Beslan']

In [87]:
for i in analysts:
    if i=='Anatoly':
        print('Analyst name is {}'.format(i))

Analyst name is Anatoly

# Задание 7 
В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело
Пример данных, которые могут быть в values
values = [12, 134, 10, 47, 100, 20, 50, 160, 210

In [89]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [94]:
ten=[i for i in values if i%10==0]

In [95]:
ten

[10, 100, 20, 50, 160, 210]

# Словари

In [96]:
analysts_data={'Anatoly': 2, 'Olga':3, 'Beslan':4}

In [99]:
analysts_data['Olga']

3

In [100]:
analysts_data['Mickle']=10

In [101]:
analysts_data

{'Anatoly': 2, 'Olga': 3, 'Beslan': 4, 'Mickle': 10}

In [103]:
for i in analysts_data:
    if analysts_data[i]>3:
        print(i)

Beslan
Mickle

# Задание 8
Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника строку (то есть печатает её для каждого элемента списка)
user_name user_family is position
где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк
'junior' - стаж меньше 2 лет
'middle' - стаж больше либо равен 2 лет
'senior' - стаж больше 5 лет 
Пример данных, которые могут быть в workers
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [125]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 5], ['Sidr', 'Sidorov', 200000, 8]]

In [128]:
for i in workers:
    user_name=i[0]
    user_family=i[1]
    age=i[-1]
    if age <2:
        position='Junior'
    elif age in range(2,6):
        position='Middle'
    elif age > 5:
        position='Senior'
    print('{user_name} {user_family} is {position}'.format(
    user_name=user_name,user_family=user_family,position=position))

Ivan Ivanov is Junior
Petr Petrov is Middle
Sidr Sidorov is Senior